In [1]:
hex(10)                  #convertx the deimal in hex string

'0xa'

'0xa'

In [5]:
int('1001',2)                 #it converts the string of given base into its decimal equivalent

9

In [16]:
import math
math.sqrt(100)
math.pow(10,2)
abs(-2)              #converts into absolute value

SyntaxError: invalid syntax (<ipython-input-16-bd1a528b12f1>, line 4)

In [23]:
import random                #random library 
random.random()             #generates the random number between 0-1

3.569420955764492

In [36]:
import random 
random.randint(10,200)     #generates random numbers from 1-100 excluding

24

In [52]:
print('hello') or print('world')              #print returns Nonetype hence False

hello
world

In [53]:
1 or print("hello")           #second statement gets excuted only in first is false

1

In [54]:
1 and print('hello')         #Y is evaluated only if X is True

hello

In [55]:
0 and print('hello')         # outputs the first statement

0

In [60]:
2+1,2+2,3*2                 #tuple operation

(3, 4, 6)

In [86]:
print("%10.3f"%2.11)

     2.112

In [89]:
(2+3j)*(3+2j)                  #    complex number arithematics

13j

In [90]:
int(0xff)                     #conversion to int

255

In [100]:
x=3
x|2,x&4,x<<2,x>>2,x^3       #   bitwise OR,AND,left shift and right sift and xor

(3, 0, 12, 0, 0)

In [102]:
sum((2*3,5/2,3)),min(1,2,3,7,4),max(4,5,2,6)          #returns the sum of each elements of tuple

(11.5, 1, 6)

In [112]:
0.1+0.1+0.1 - 0.3                    #error due to precission

5.551115123125783e-17

In [125]:
from fractions import Fraction 
x=Fraction(2,3)                            #Fraction 
y=Fraction(3,4)
x,y,x+y

(Fraction(2, 3), Fraction(3, 4), Fraction(17, 12))

In [126]:
Fraction('0.34')

Fraction(17, 50)

In [137]:
#####                 sets      ############
x=set('abcde')
y=set('a23df')
x,y,x-y,x|y,x^y,x&y

({'a', 'b', 'c', 'd', 'e'},
 {'2', '3', 'a', 'd', 'f'},
 {'b', 'c', 'e'},
 {'2', '3', 'a', 'b', 'c', 'd', 'e', 'f'},
 {'2', '3', 'b', 'c', 'e', 'f'},
 {'a', 'd'})

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9'}

In [164]:
x=set('abc')
y=set('a')
x

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [195]:
x=set('123')                     
x.add('5') #add() , remove() takes exactly one argument  ----->{'1', '2', '3', '5'}
x.remove('2')    #------------>{'1', '3', '5'}
x.intersection(set('234'))           #----------------->{'3'}
x.union({'2','3','4'})           #----------------->{'1', '2', '3', '4', '5'}
x.union(set([2,3,4]))          #------------->{'1', 2, 3, '3', 4, '5'}
x.issubset({'1','2','3','5'})

True

In [198]:
x=set([1,2,3])
x                             #--------------->{1, 2, 3}
x.add(4)     #---------------------->{1, 2, 3, 4}
.
.
.
.

{1, 2, 3, 4}